Exercise 2- Create markdown cell with title of the Notebook.
# Data Science Tools and Ecosystem

Exercise 3:

In this notebook, Data Science Tools and Ecosystem are summarized:

Exercise 10:


**Objectives:**
* List popular tools for Data Science.
* Introduce commonly used Data Science libraries.
* Present examples of evaluating arithmetic expressions in Python.
* Demonstrate converting units (minutes to hours) in Python.

Exercise 4:


Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. NoSQl
5. Java
6. Scala

Exercise 5:

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit learn

Exercise 6:

| Data Science Tools |
|--------------------|
| Apache Spark       | 
| Hadoop             |
| Tensorflow         |
| SAS                |
| Jupyter Notebook   |
| Matplotlib         |

Exercise 7:


### Below are few example for introducing arithmetic expression examples in Python.

In [13]:
#Exercise 8:

# This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [15]:
#Exercise 9:

# This will convert 200 minutes to hours by dividing 200 by 60.
200/60

3.3333333333333335

Exercise 11:

## Author
Muhammad Ahmad